.monte{
    margin-top: 50 px;
}

.blanc{
    color: white;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


@media (max-width: 468px) {
    .cube{
        height: 50px;
        width: 50px;
    }

}